{% load static %}


          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'supply:customer_requestable_supply' %}">
              <span class="menu-icon">
                <i class="mdi mdi-chip"></i>
              </span>
              <span class="menu-title">Available Supplies</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'supply:customer_supply_request_list' %}">
              <span class="menu-icon">
                <i class="mdi mdi-chip"></i>
              </span>
              <span class="menu-title">My Requests</span>
            </a>
          </li>





      <!-- partial -->