{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2 class="text-start mb-5">Issue Supply </h2>
    <form method="post">
    {% csrf_token %}
        <div class="col-md-8  text-start">
            
            {% if supply_item.supply_image %}
                <img src="{{ supply_item.supply_image.url }}" alt="{{ supply_item.name }}" class="img-fluid rounded" style="max-height: 200px;">
            {% else %}
                <img src="{% static 'images/default-supply.png' %}" alt="No image" class="img-fluid rounded" style="max-height: 200px;">
            {% endif %}

        
            <p class="text-muted mt-5 mb-3"><strong>Supply Item Name:</strong> {{ supply_item.name }}</p>
            <p class="text-muted mb-3"><strong>Item ID:</strong> {{ supply_item.item_id }}</p>
            <p class="text-muted mb-3"><strong>Category:</strong> {{ supply_item.category }}</p>
            <p class="text-muted mb-3"><strong>Unit of Measure:</strong> {{ supply_item.unit_of_measure }}</p>
            <p class="text-muted mb-3"><strong>Total Quantity:</strong> {{ supply_item.quantity }}</p>
            <p class="text-muted mb-3"><strong>Unit Cost:</strong> ${{ supply_item.unit_cost }}</p>
            <p class="text-muted mb-3"><strong>Reorder Level:</strong> {{ supply_item.reorder_level }}</p>
            <p class="text-muted mb-3"><strong>Lead Time:</strong> {{ supply_item.lead_time_days }} days</p>
            {% if supply_item.expiration_date %}
                <p class="text-muted mb-3"><strong>Expiration Date:</strong> {{ supply_item.expiration_date }}</p>
            {% endif %}
            <p class="text-muted mb-3"><strong>Date Added:</strong> {{ supply_item.date_added|date:"M d, Y" }}</p>
            <p class="text-muted mb-3">
                <strong>Description:</strong> {{ supply_item.description|default:"No description available." }}
            </p>
            <p class="text-muted mb-3">
                <strong>Supplier:</strong> {{ supply_item.supplier }}
            </p>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>


    </form>
</div>
{% endblock %}