{% extends "base/base.html" %}

{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Supply Item</h4>
      <div class="row">
        <!-- Image Column with Vertical Centering and Responsive Margin -->
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0">
          {% if supply_item.supply_image %}
            <img src="{{ supply_item.supply_image.url }}" alt="{{ supply_item.name }}" class="img-fluid rounded" style="max-height: 200px;">
          {% else %}
            <img src="{% static 'images/default-supply.png' %}" alt="No image" class="img-fluid rounded" style="max-height: 200px;">
          {% endif %}
        </div>

        <!-- Text Details Column -->
        <div class="col-md-8 text-start">
          <h5 class="font-weight-bold">{{ supply_item.name }}</h5>
          <p class="text-muted mb-1"><strong>Item ID:</strong> {{ supply_item.item_id }}</p>
          <p class="text-muted"><strong>Category:</strong> {{ supply_item.category }}</p>
          <p class="text-muted"><strong>Unit of Measure:</strong> {{ supply_item.unit_of_measure }}</p>
          <p><span class="badge bg-info text-uppercase">{{ supply_item.status }}</span></p>
          <p class="text-muted"><strong>Unit Cost:</strong> ${{ supply_item.unit_cost }}</p>
          <p class="text-muted"><strong>Reorder Level:</strong> {{ supply_item.reorder_level }}</p>
          <p class="text-muted"><strong>Lead Time:</strong> {{ supply_item.lead_time_days }} days</p>
          {% if supply_item.expiration_date %}
            <p class="text-muted"><strong>Expiration Date:</strong> {{ supply_item.expiration_date }}</p>
          {% endif %}
          <p class="text-muted"><strong>Date Added:</strong> {{ supply_item.date_added|date:"M d, Y" }}</p>
          <p class="text-muted">
            <strong>Description:</strong> {{ supply_item.description|default:"No description available." }}
          </p>
          <p class="text-muted"><strong>Created at:</strong> {{ supply_item.date_added }}</p>
          <p class="text-muted"><strong>Updated By:</strong> {{ supply_item.updated_at }}</p>
          <p class="text-muted">
            <strong>Supplier:</strong> {{ supply_item.supplier }}
        </p>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock content %}